<div class="js-window-pinkfloyd"></div>
<main class="main">
    <div class="container">
        <h1 class="title">Descubre el álbum tras la portada</h1>
        <div name="artists" id="albums" class="container-images js-select">
            <div class="js-animals"><img src="./assets/images/animals.jpeg" alt="album" class="album" value="animals">
            </div>
            <img src="./assets/images/wall.jpg" alt="album" class="album js-wall">
            <img src="./assets/images/dark.jpg" alt="album" class="album js-dark">
            <img src="./assets/images/wishyou.jpg" alt="album" class="album js-wishyou">
        </div>
        <!-- <form class="form">
            <select name="artists" id="artists" class="form__select js-select">
                <option value="choose" class="js-choose">Elige un album</option>
                <option value="animals" class="js-animals">Animals</option>
                <option value="dark" class="js-dark">Dark Side of the Moon</option>
                <option value="wish" class="js-wish">Wish you were here</option>
                <option value="wall" class="js-wall">The Wall</option>
            </select>
            <p class="form__message js-message"></p>
            <input type="button" name="juega" value="Play" class="form__play-button js-play-button" />
        </form> -->
    </div>
</main>