<div class="js-window-pinkfloyd"></div>
<main class="main">
    <div class="container">
        <h1 class="title">Descubre el álbum tras la portada</h1>
        <div name="artists" id="albums" class="container-images js-select">
            <img src="./assets/images/animals.jpeg" alt="album" value="animals" class=" album js-animals">
            <img src="./assets/images/wall.jpg" alt="album" class="album js-wall">
            <img src="./assets/images/dark.jpg" alt="album" class="album js-dark">
            <img src="./assets/images/wishyou.jpg" alt="album" class="album js-wishyou">
        </div>
    </div>
</main>

<div class="container-videos">
    <h2 class="subtitle">¿Te gustaría saber más sobre Pink Floyd?</h2>
    <div class="videos">
        <iframe class="video" src="https://www.youtube.com/embed/7yF_i_x3DeA" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <iframe class="video" src="https://www.youtube.com/embed/FqYwKXKfTEw" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <iframe class="video" src="https://www.youtube.com/embed/9jL7QeB4bvQ" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
</div>