body {
  background-color: #393636;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
.title {
  font-family: "Otomanopee One";
  font-size: 22px;
  font-size: 32px;
  color: #f39ac8;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.form__select {
  width: 300px;
  height: 50px;
  background-color: #686464;
  border: 2px solid #f39ac8;
  border-radius: 4px;
  color: #f39ac8;
  font-family: "Otomanopee One";
  font-size: 16px;
  padding: 10px;
}
.form__message {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  width: 350px;
  color: #ac3972;
  font-family: "Roboto Condensed", sans-serif;
}
.form__select:hover {
  border: solid 3px #ac3972;
}
.form__play-button {
  width: 200px;
  height: 55px;
  border-radius: 5px;
  background-color: #fed7f0;
  border: #fed7f0;
  color: #393636;
  font-weight: bold;
  font-size: 20px;
  margin-top: 15px;
  font-family: "Otomanopee One";
}
.form__play-button:hover {
  transform: scale(1.2);
  color: #e46ca8;
}
.hendrix {
  width: 300px;
  height: 300px;
}
.container-hendrix {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
  background-color: #fcd441;
  @media all and (min-width: 768px) {
    flex-direction: row;
  }
}
.message {
  display: flex;
  flex-direction: column;
}

.hendrix-name {
  color: #e46ca8;
  font-size: 45px;
  font-family: "Zen Tokyo Zoo", cursive;
}
.band {
  color: #5183ac;
  font-size: 24px;
  font-family: "Zen Tokyo Zoo", cursive;
}
.woodstock {
  color: green;
  font-size: 32px;
  font-family: "Zen Tokyo Zoo", cursive;
}
.club {
  color: #5183ac;
  font-size: 24px;
  font-family: "Zen Tokyo Zoo", cursive;
}
.artists-club {
  color: #ef2a99;
  font-size: 24px;
  font-family: "Zen Tokyo Zoo", cursive;
}
.audio {
  width: 200px;
  opacity: 0.7;
  margin-top: 20px;
  margin-bottom: 20px;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.copy {
  color: #f39ac8;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 15px;
}
