.main {
  background-color: #393636;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
.title {
  font-family: "Otomanopee One";
  font-size: 22px;
  font-size: 30px;
  color: #f39ac8;
  text-align: center;
  margin: 15px;
}
// .form {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-around;
//   align-items: center;
//   padding-top: 40px;
//   padding-bottom: 40px;
// }
// .form__select {
//   width: 300px;
//   height: 50px;
//   background-color: #686464;
//   border: 2px solid #f39ac8;
//   border-radius: 4px;
//   color: #f39ac8;
//   font-family: "Otomanopee One";
//   font-size: 16px;
//   padding: 10px;
// }
// .form__message {
//   margin-top: 15px;
//   margin-bottom: 15px;
//   text-align: center;
//   width: 350px;
//   color: #ac3972;
//   font-family: "Roboto Condensed", sans-serif;
// }
// .form__select:hover {
//   border: solid 3px #ac3972;
// }
// .form__play-button {
//   width: 200px;
//   height: 55px;
//   border-radius: 5px;
//   background-color: #fed7f0;
//   border: #fed7f0;
//   color: #393636;
//   font-weight: bold;
//   font-size: 20px;
//   margin-top: 15px;
//   font-family: "Otomanopee One";
// }
// .form__play-button:hover {
//   transform: scale(1.2);
//   color: #e46ca8;
// }
.container-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  @media all and (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
}
.album {
  width: 150px;
  height: 150px;
  margin: 15px;
  @media all and (min-width: 768px) {
    width: 250px;
    height: 250px;
  }
  @media all and (min-width: 1200px) {
    width: 300px;
    height: 300px;
  }
}
.album:hover {
  transform: scale(1.1);
  opacity: 0.5;
}
// .container-album {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: space-between;
//   padding: 30px;
//   background-color: #fed7f0;
// }
.container-message {
  background-color: #fed7f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  @media all and(min-width:768px) {
    flex-direction: row;
  }
}
.message {
  display: flex;
  flex-direction: column;
  color: #686464;
  padding: 30px;
}
.title-album {
  font-size: 24px;
  font-family: "Otomanopee One";
  color: #393636;
  margin-bottom: 15px;
}
.text {
  font-family: "Otomanopee One";
  font-size: 14px;
  line-height: 18px;
  text-align: justify;
}
.a {
  font-weight: bold;
  color: #da77aa;
  font-size: 16px;
}
.js-image {
  width: 250px;
  height: 250px;
}
.container-videos {
  background-color: #f39ac8;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.subtitle {
  font-size: 20px;
  font-family: "Otomanopee One";
  color: #393636;
  margin: 20px;
  text-align: center;
}
.videos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  @media all and(min-width:768px) {
    flex-direction: row;
  }
}
.video {
  width: 360px;
  height: 215px;
  margin: 15px;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #393636;
}
.copy {
  color: #f39ac8;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 15px;
  margin: 20px;
}
